<% include ../partials/header %>

<div class='jumbotron home' >
        <h1 class="write"> Welcome to PG Finder </h1>
        <p>PGs on a click</p>
        <a href="/campgrounds" class="btn btn-warning">Get Started</a>
</div>

<% include ../partials/footer %>